{% extends "base.html" %}


{% block conteudo %}
   <h3 class="h3">Cards para Serviços</h3>
   {{ cb_servico | safe }}
   <br>
   <button type="button" class="btn btn-primary"
           onclick="loadId('/card_aberto', 'card1', getValue('cb_servico'))">Card Aberto</button>
   <br><br>
   <button type="button" class="btn btn-primary"
           onclick="modalInfoLoad('Serviço Selecionado', '/card_fechado', getValue('cb_servico'))">Card Modal</button>
   <br><br>
   <span id="card1">


   </span>
{% endblock %}
