<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Formulário de Texto</title>
        <link rel="stylesheet" type="text/css" href="/static/estilo.css">
    </head>
    <body>
        <h1>Texto</h1>
        <form action="/texto" method="post">
            <label for="texto">Digite o texto:</label>
            <textarea id="texto" name="texto" required></textarea><br><br>

            <input type="submit" value="Processar">
        </form>
    </body>
</html>
