<!DOCTYPE html>
<html>
    <head>
        <title>Menu de Formulários</title>
        <link rel="stylesheet" type="text/css" href="/static/estilo.css">
    </head>
    <body>
        <nav>
            <ul>
                <li>Menu de Formulários</li>
                <li><a href="/form_calc" target="funcoes">Calculadora Aritmética</a></li>
                <li><a href="/form_texto" target="funcoes">Texto</a></li>
                <li><a href="/form_datas" target="funcoes">Cálculo com Datas</a></li>
            </ul>
        </nav>
        <iframe name="funcoes"></iframe>
    </body>
</html>
