<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nomes Ordenados</title>
        <link rel="stylesheet" type="text/css" href="/static/estilo.css">
    </head>
    <body>
        <h1>Nomes Ordenados</h1>
        <table>
            <tr>
                <td> Primeiro nome </td>
                <td> {{ nomes_ordenados[0] }} </td>
            </tr>
            <tr>
                <td> Segundo nome </td>
                <td> {{ nomes_ordenados[1] }} </td>
            </tr>
            <tr>
                <td> Terceiro nome </td>
                <td> {{ nomes_ordenados[2] }} </td>
            </tr>
        </table>
    </body>
</html>
