<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Texto</title>
        <link rel="stylesheet" type="text/css" href="/static/estilo.css">
    </head>
    <body>
        <h1>Texto Processado</h1>
        <table>
            <tr>
                <td> Texto original </td>
                <td> {{ texto }} </td>
            </tr>
            <tr>
                <td> Número de caracteres </td>
                <td> {{ num_caracteres }} </td>
            </tr>
            <tr>
                <td> Texto em maiúsculo </td>
                <td> {{ maiusculo }} </td>
            </tr>
            <tr>
                <td> Texto em minúsculo </td>
                <td> {{ minusculo }} </td>
            </tr>
        </table>
    </body>
</html>
