{% extends "base.html" %}


{% block conteudo %}
   <h3 class="h3">Tabelas para Serviços</h3>
   <br>
   <button type="button" class="btn btn-primary"
           onclick="loadId('/table_basic', 'tab', '')">Tabela Básica</button>
   &nbsp;&nbsp;
   <button type="button" class="btn btn-primary"
           onclick="loadId('/table_striped', 'tab', '')">Tabela Zebrada</button>
   &nbsp;&nbsp;
   <button type="button" class="btn btn-primary"
           onclick="loadId('/table_hover', 'tab', '')">Tabela Marcada</button>
   <br><br>
   <span id="tab">


   </span>
{% endblock %}
